{% extends 'base.html.twig' %}

{% block body %}
    <div class="hero h-[70vh]">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <h1 class="text-5xl font-bold">Bienvenue sur QuizDown</h1>
                <p class="py-6">Découvrez les statistiques de notre plateforme</p>
                <div class="stats shadow flex-wrap mb-8">
                    <div class="stat">
                        <div class="stat-title">Quiz Disponibles</div>
                        <div class="stat-value">500+</div>
                    </div>
                    <div class="stat">
                        <div class="stat-title">Utilisateurs</div>
                        <div class="stat-value">10k+</div>
                    </div>
                    <div class="stat">
                        <div class="stat-title">Certifications</div>
                        <div class="stat-value">50+</div>
                    </div>
                </div>
                <a href="{{ path('app_quiz_index') }}" class="btn btn-primary">Voir les Quiz</a>
            </div>
        </div>
    </div>
{% endblock %}
